/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.1.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/.pnpm/next@14.1.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/styles/App.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.App {
  text-align: center;
}

.navbarStyle {
  padding: 0.5rem 1rem !important;
}

.picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: ease-in-out all;
  transition-duration: 200ms;
  transform-origin: 50%;
}

.picture:hover {
  width: 250px;
  height: 250px;
  transition: ease-in-out all; /* You don't need to repeat 'transition' property */
  transition-duration: 200ms;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.1.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/.pnpm/next@14.1.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/styles/ProfileData.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

